*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: "Albertus";
  src: url(./Fonts/AlbertusBold.ttf), url(./Fonts/AlbertusMediumRegular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(./Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./Fonts/Montserrat-Regular.ttf);
}

:root{
  --cream: #DBCC97;
}

h1{
  font-size: 1.313rem;
}
h2{
  font-size: 1.125rem;
  font-family: "Albertus";
}
h3{
  font-size: 1rem;
  font-family: "Albertus";
}
h4{
  font-size: 0.875rem;
  font-family: "Montserrat";
}
h5{
  font-size: 0.75rem;
  font-family: "Montserrat";
}
a{
  text-decoration: none;
}

button, .cartBtn{
  font-family: "Montserrat";
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.8331rem;
  padding: 0.625rem 0;
  margin: 0.313rem 0;
}
header, .FrontPage, .Slider, .Home-Page, .Table, .Navbar, .category-page, .FoodDetails, .checkOut-page, .thankYou-page, .orderDetails, .orderHistory, .orderHistory-Details, .sideMenu, .Add-Cart-Box{
  width: 24.563rem;
  margin: auto;
}

.TopHeader, .Add-Cart-Box{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.875rem;
}

.TopHeader button{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.TopHeader a span {
  position: absolute;
  top: 0.9rem;
  right: 1.438rem;
  padding: 0.125rem 0.375rem;
  background-color: #000000;
  color: #DBCC97;
  border-radius: 50%;
  font-size: 0.5rem;
}
.sideMenu {
  position: absolute;
  top: 0;
  left: -14.375rem;
  /* display: none; */
  padding: 1.25rem 1.875rem;
  width: 14.375rem;
  height: 100vh;
  background-image: url(./Images/LeftSizeMenu.png);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  z-index: 99999;
}
.sideMenu button, .plusBtn, .minusBtn{
  background-color: transparent;
  padding: 0.438rem;
  margin: 0;
}
/* .MenuOpen{
  display: block;
} */
.animation{
  /* transition: 0.5s; */
  left: 0;
}
.sideMenu h3{
  padding: 0.625rem 0;
  font-weight: 400;
  color: #F4F1E8;
  opacity: 50%;
  transition: 0.5s;
}
.sideMenu h3:hover{
  color: var(--cream);
  opacity: 100%;
}
.FrontPage{
  padding: 6.25rem 3.125rem;
  background-image: url("./Images/ASTONS-BG.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
}
.frontPage-inner {
  position: relative;
}
.FrontPage::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 100%;
  background-image: linear-gradient( #000000E6, #00000074,  #0000004D, #00000033 50%);
}
.loginBtn{
  width: 100%;
  background-color: var(--cream);
  color: #000000;
}
.loginBtn:hover{
  background-color: #572500;
  color: #FFFFFF;
}
.guestBtn{
  width: 100%;
  color: #572500;
  background-color: #FFFFFF;
}
.guestBtn:hover{
  background-color: #F4F1E8;
  color: #000000;
}
.FrontPage a{
  text-decoration: underline;
  color: #FFFFFF;
  font-family: "Montserrat";
}
.Slider, .Add-Cart-Box, .checkOut-box, .checkOut-inner, .cart-total-inner, .orderDetails, .orderHistory-box, .orderHistory-inner{
  padding: 1.25rem;
}
.Table{
  background-image: url(./Images/TableNo.1_BG.png);
  background-position: center;
  background-size: cover;
  color: var(--cream);
  position: relative;
}
.left-arrow, .left-arrow-white{
  position: absolute;
  top: 0.938rem;
  left: 1.875rem;
  display: none;
}
.Navbar{
  background-color: var(--cream);
  padding: 1.25rem 1.875rem ;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a{
  color: #000000;
  font-size: 1rem;
  font-family: "Albertus";
}
nav a::after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease-in-out, background-color .5s ease;
}
nav a:hover:after {
  width: 100%;
  background: black;
}
.Home-Page .viewMore, .delete-btn{
  color: #572500;
  display: flex;
  margin-top: 2.5rem;
  justify-content: right;
}
.Product-Categories, .category-child{
  padding: 0.625rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 10.375rem;
  margin: 0.625rem;
  border-radius: 10px;
  box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.15);
  overflow: hidden;
}
.card-head{
  padding: 0.625rem;
}
.card-head h3{
  font-weight: bold;
  line-height: 24px;
}
.Home-Page .card-head h3, .Home-Page .card-head h5{
  color: #000000;
}
.card-head h4{
  line-height: 19px;
}
.card-head h5{
  line-height: 18px;
}
.card-head a, .Plus-Minus h4{
  line-height: 19px;
}
.Slide , .buttons, .roundBtns{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  overflow: hidden;
}
.categories{
  background-color: #FFFFFF;
}
.top-round{
  padding: 1.875rem;
  position: relative;
  margin-top: -50px;
  background-color: #FFFFFF;
}
.categories .card{
  background-color: #572500;
  color: #FFFFFF;
}
.categories .card a, .cart-total-inner h4, .cart-total-inner h3, .orderDetails-inner h4, .orderDetails-inner h3, .orderHistory-box h4,.History-details, .viewMore{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
.categories h1, .FoodDetails h1 {
  font-family: "Albertus";
  line-height: 31.5px;
}
.categories .left-card .viewMore{
  margin-top: 2.375rem;
}
.categories .right-card .viewMore{
  margin-top: 1.063rem;
}
.category-page .Table .left-arrow, .FoodDetails .Table .left-arrow-white, .checkOut-page .Table .left-arrow, .checkOut-page .TopHeader .CloseBtnDark, .orderHistory .Table .orderTxt, .orderHistory .Table .left-arrow, .orderHistory-Details .Table .orderTxt, .orderHistory-Details .Table .left-arrow{
  display: block;
}
.Table .orderTxt  ,.checkOut-page .TopHeader .MenuBtn, .checkOut-page .TopHeader .Shop-Icon, .CloseBtnDark, .orderHistory .Table .TableTxt, .orderHistory-Details .Table .TableTxt{
  display: none;
}
.FoodDetails-Box .Food-head{
  text-align: center;
  padding: 0.344rem 1.875rem;
}
.food-heading{
  padding: 0.625rem 1.25rem;
  background-color: var(--cream);
  color: #000000;
  font-weight: bold;
  margin: 1.875rem 0;
  line-height: 24px;
}
.Plus-Minus{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.938rem 0.313rem ;
  background-color: #F4F1E8;
  border-radius: 0.625rem;
  margin: 0.625rem 0;
}
.Plus-Minus button, .Plus-Minus h4, .checkOut-box .Plus-Minus a{
  padding: 0;
  margin: 0 0.938rem;
}
.main-h4, .checkOut-box h3, .cart-total-inner h4, .cart-total-inner h3, .orderDetails-inner h4, .orderDetails-inner h3, .orderHistory-box h4{
  flex: 1;
}
.Food-box{
  padding: 0 1.25rem;
}
.Add-Cart-Box{
  background-color: #FFFFFF;
  padding: 1.25rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.cartBtn{
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.625rem 1.875rem;
  margin: 0;
}
.cartBtn:hover, .backMenu:hover, .checkOut-page .buttons .checkout:hover, .order-received button:hover{
  background-color: #572500;
  color: #FFFFFF;
}
.Add-Cart-Box .Plus-Minus, .checkOut-box .Plus-Minus{
  background-color: transparent;
  margin: 0;
}
.checkOut-box h3 {
  text-align: end;
}
.checkOut-box .last-H5{
  padding-bottom: 0.313rem;
}
.orderDetails-inner .last-H5, .orderHistory-box .order-review, .cartTotal .last-H5{
  padding-bottom: 0;
}
.orderHistory-box .topH1{
  padding-top: 0;
}

.delete-btn{
  color: #000000;
  margin: 0;
  justify-content: space-between;
}
.checkOut-box .minusBtn{
  margin-left: 0;
}
.checkOut-box .Plus-Minus{
  padding-bottom: 0;
}
.checkOut-box h4, nav a, .categories h4{
  font-family: "Albertus";
  line-height: 21px;
}
.checkOut-box h5, .orderDetails-inner h5 {
  color: #888888;
  line-height: 18px;
  padding: 0.188rem 0.188rem 0.188rem 0.625rem;
}
.checkOut-box, .orderHistory-box{
  background-color: #F4F1E8;
  border-radius: 0.625rem;
  margin: 0.625rem 0;
}
.checkOut-box a{
  font-family: "Montserrat";
  color: #572500;
  text-decoration: underline;
}
.AddSlider h2, .cart-total-inner h2, .order-received .thankyou, .orderHistory-box .order-review, .History-details .order-review{
  color: #572500;
}
.AddSlide .card{
  margin: 0;
}
.AddSlider .swiper-free-mode > .swiper-wrapper{
  padding-bottom: 3.125rem;
}
.cart-total-inner h4, .cart-total-inner h3, .orderDetails-inner h4 , .orderDetails-inner h3, .orderHistory-box h4, .orderHistory-box h5, .History-details h1, .History-details h5{
  color: #000000;
  padding: 0.313rem 0;
}
.cart-total-inner{
  box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.15);
  border-radius: 0.625rem;
}
.buttons .ContinueBtn, .checkout{
  font-size: 0.875rem;
  background-color: transparent;
  color: #572500;
  border: 1px solid #572500;
}
.buttons .ContinueBtn:hover{
  background-color: var(--cream);
  color: #000000;
  border: 1px solid var(--cream);
}
.buttons button{
  width: 10.375rem;
  margin: 0 0.625rem;
}

.order-received button{
  width: 100%;
  margin: 0 0.625rem;
}
.checkOut-page .buttons .checkout , .order-received button{ 
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #000000;
}
.AddSlider .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  display: none;
}
/* .checkOut-inner .AddSlider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  display: none;
} */
.order-received h2{
  line-height: 27px;
}
.order-received {
  text-align: center;
  padding: 1.875rem 3.125rem;
}

.orderDetails-inner{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 1.25rem;
  padding: 1.25rem;
}
.orderDetails-inner h5{
  font-weight: 400;
}
.orderDetails-inner h4{
  font-weight: bolder;
}
.orderDetails-inner span {
  font-size: 1rem;
}
.orderHistory-box .dateDetails, .History-details .date{
  color: #888888;
}
.orderHistory-box .canceled{
  color: #CA0808;
}

.orderHistory-inner .roundBtns button{
  border-radius: 6.25rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  color: #572500;
}
.roundBtns .prevBtn{
  background-color: #CCCCCC;
  margin-right: 3.625rem;
}
.roundBtns .centerBtn{
  background-color: #FFFFFF;
  margin: 0 0.313rem;
}
.roundBtns{
  padding: 1.25rem 0rem 1.875rem 0rem ;
}
.roundBtns .nextBtn{
  margin-left: 3.625rem;
  background-color: var(--cream);
}
.orderHistory-inner .roundBtns .active{
  background-color: #572500;
  color: white;
}
.disabled{
  pointer-events: none;
}
.historyDetails-inner .History-details{
  padding: 1.563rem 1.25rem;
}
.Slider .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  display: block;
  margin-bottom: 1.25rem;
}
.Slider .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color: var(--cream);
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa{
  color: #572500;
  font-size: 1.1rem;
  font-weight: 100;
}